//
//  SecretAPIKeys.xcconfig
//  Tiptrip
//
//  Created by jonathan P on 27/06/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

weatherAPIKey = "14e872fac1b9bbf044a4687056a58472"
currencyAPIKey = "HEv31F2I6XcYlc1FqyorGX2Fqt5bUahM"
translateAPIKey = ""
